body{
  margin:0;
  font-family: 'Roboto', sans-serif;
  background-color: #E7E2E1;
  
}
/*HEADER INICIO*/
.div-container-header{
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.div-logo h1{
  margin:0;
  width: 10vw;
  height: 10vh;
  align-items: center;
  font-size: 50px;
}



.div-menu{
  width: 90vw;
  align-self: inherit;
  line-height: 12vh;
  padding-left: 50vw;

} 
#login-button{
  background-color: #D6000D;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  border-width: 0;
  border-radius: 15px;
  padding: 1.5vh 5vw;
  color:white;
  box-shadow: 0 8px 6px -6px black;

}
.shadow{
  box-shadow: 0 8px 6px -6px black;
}
.div-menu a {
  padding: 2vh;
  text-decoration: none;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

#logo-codar{
  color: #D6000D;
  margin-left: 3vw;
  font-size: 50px;
  text-align: end;
  font-style: italic;
  line-height: 12vh;
  font-weight: 900;
}
/* HEADER FINAL */

/*=======================================================//==================================================*/


/*MAIN INICIO*/

.div-main-container{
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 margin-top: 15vh;

 margin-left: 10vw;
width: 80%;
height: 50%;
}

.div-legenda{
  align-self: center;
  text-align: center;
  flex-grow: 1;
}

.div-legenda p{
  font-size: 25px;
  font-weight: 700;
  margin: 0;
}

.div-legenda h3{
  font-size: 50px;
  font-weight: 600;
  flex-shrink: 0
}

.div-lista{
  min-width: 15vw;
  list-style: none;
  font-size: 25px;
  line-height: 10px;
  text-align: justify;
}

.div-form{
  width: 80vw;
  height: 20vh;
}
.div-form label{
  font-size: 25px;
  font-weight: 600;
  margin:0px
}
.div-form input{
  border-radius: 10px;
  text-align: center;
  background-color: lightgrey;
  border-style: solid;
  border-width: 0.5px;
  padding: 2vh 3vw;
  font-size: 25px;
}

.div-form button{
  border-style: none;
  font-size: 25px;
  margin-top:25px;
  background-color: #D6000D;
  font-weight: 600;
  border-radius: 10px;
  color: #FFF;
  padding: 2vh 3vw;
}

#img-post{
  transition: 500ms;
  min-width: 30vw;
  height: 60vh;
  margin: 40px;
}

#img-post:hover{
  opacity: 0.7;
  transition: 500ms;
}

#orçamento-button{
  padding: 1vh 3vw;
  background-color: #D6000D;
  margin:5vw;
  text-decoration: none;
  cursor: pointer;
  color: #FFF;
  font-size: 25px;
  border-radius: 10px;
  font-weight: 600;
}

/*MAIN FIM*/

/*================================================//========================================================*/

/*FOOTER INICIO*/
.div-main-footer{
  width: 100%;
  margin:0;
  height: 50vh;
  background-color: black;
  color: white;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.sobre-footer{
  margin: 40px;
  flex-grow: 1;
}

.sobre-footer h1{
font-size: 50px;
margin: 0;
}

.icons{
  color: #D6000D;
  font-size: 40px;
  margin-left:20px;
}

.card{
  width: 30vw;
  background-color: #bcbcbc;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  border-radius: 20px;
  margin-top:30px;
  margin-bottom:30px;
}

.img-usuario{
  width: 10vw;
  text-align: center;
  
}
.div-foto p{
  width: 15vw;
  text-align: justify;
  font-size: 15px;
}
.div-foto h5, h6{
  font-size: 15px;
  line-height: 0vh;
  text-align: justify;
}
#cardleft{
  margin-left: 10%;
}
.cards{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 90%;
}